.drop-down {
  display: flex;
  position: relative;
  cursor: pointer;
  outline: none;
  min-width: 5rem;
  justify-content: center;
  color: $text_icons;
  background: $dark_primary_color no-repeat;
  margin-right: 3rem;

  background-image: linear-gradient(to bottom, $accent_color, $accent_color), linear-gradient(to bottom, $text_icons, $text_icons);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.drop-down:focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
  color: $accent_color;
}

.drop-down__label {
  padding-bottom: 0.17rem;
}

.drop-down ul {
  display: flex;
  position: absolute;
  top:30%;
  overflow: hidden;
  padding: 0;
  min-width: 7rem;
  left: 0%;
  list-style-type: none;
  background-color: $text_icons;
  color: $primary_text;
  border-radius: 0.3rem;
  box-shadow: $shadow_lvl4;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 0 0;
}

.drop-down ul li {
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  outline: none;
}
.drop-down ul li:hover {
  background-color: $light_primary_color;
}

.drop-down ul li[selected] {
  background-color: $accent_color;
}

ul.opened {
  display: block;
  transform: scale(1);
  height: auto;
  z-index: 2;
}

