.header {
  display: flex;
  background-color: $dark_primary_color;
  grid-column-start: span 3;
  box-shadow: $shadow_lvl3;
  grid-row: 1;
  align-items: center;
  z-index: 3;
}
.header__title {
  color: $text_icons;
  margin-left: 1rem;
  margin-right: auto;
}