.weather-content__header__main-information {
  display: grid;
  grid-template-rows: auto 0.5fr 0.5fr 0.5fr;
  background-color: $primary_color;
  box-shadow: $shadow_lvl2;
}

.weather-conent__header__main-information__icon,
.weather-content__header__main-infromation__title,
.weather-content__header__main-information__sun,
.weather-content__header__main-information__weather  {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: $text-icons;
}

.weather-content__header__main-information__icon__icon {
  fill: $text-icons;
  width: 11rem;
  height: 11rem;
  margin-top: 1rem;
}

.weather-content__header__main-infromation__title h1 {
  margin: 0;
}

.weather-content__header__main-information__sun {
  flex-direction: row;
}
.weather-content__header__main-information__sun__sunrise,
.weather-content__header__main-information__sun__sunset {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.weather-content__header__main__main-information__sun__sunrise__icon,
.weather-content__header__main__main-information__sun__sunset__icon {
  fill: $text-icons;
  width: 2.5rem;
  height: 2.5em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.weather-content__header__main-information__weather {
  display: flex;
  flex-direction: row;
}
.weather-content__header__main-information__weather__weather__title {
  font-size: 0.7rem;
}
.weather-content__header__main-information__weather__weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}