/*Colors*/
$dark_primary_color: #1976D2;
$light_primary_color: #BBDEFB;
$primary_color: #2196F3;
$text_icons: #FFFFFF;
$accent_color: #FF5252;
$primary_text: #212121;
$secondary_text: #757575;
$divider_color: #BDBDBD;
