/*Colors*/
$dark_primary_color: #00796B;
$light_primary_color: #B2DFDB;
$primary_color: #009688;
$text_icons: #FFFFFF;
$accent_color: #607D8B;
$primary_text: #212121;
$secondary_text: #757575;
$divider_color: #BDBDBD;
