
html {
  font-size: 62.5%;
  margin:0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr max-content;
  grid-template-columns: 0.5fr 6fr 0.5fr;
  justify-self: center;
}
.content {
  grid-column: 2;
  border-radius: 0.2rem;
  border: 1px solid black;
}